fastapi
uvicorn
datasets
langchain
openai
faiss-cpu
sentence-transformers
python-multipart
streamlit
python-dotenv
streamlit
requests
langchain-community
langchain-huggingface
langchain-openai